<div class="container-fluid homepage">
  <div class="inContainer container-fluid row">
    <div class="col-6 containerInfo">
      <div class="infoText">
        All
        <div class="text-container">
          <h1>NFT's</h1>
        </div>
        One Platform
      </div>
      <p style="font-size: 20px; line-height: 28px; font-weight: 600;">Trade NFT with ease</p>
      <button type="button" class="btn btn-dark" style="background-color: #001028; margin-top: 10px;" (click)="gotoTrade()">Start Trading</button>
      <button type="button" class="btn btn-outline-dark" style="margin-top: 10px;" (click)="gotoSignup()">SignUp</button>
    </div>
    <div class="col-6 containerNFT">

      <div class="nft-collection">
        <img class="nftCollectionImage" src="./../../assets/img/nft-collection.png" alt="nft-collection">
      </div>

    </div>

  </div>

</div>
