<div class="midde_page">
    <h1>Fiat Transaction History</h1>
    <table class="table table-image">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fiat Transaction Id</th>
            <th scope="col">Amount in USD</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trade_transhistory_fiat" >
            <td>data.ft_id</td>
            <td>data.amount</td>
            <td>data.type</td>
          </tr>
           </tbody>
      </table>
      
    <br>
    <h1>Nft Transaction History</h1>
    <table class="table table-image">
        <thead class="thead-dark">
          <tr >
            <th scope="col">Nft Transaction Id</th>
            <th scope="col">Name</th>
            <th scope="col">T_value</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trade_transhistory_nfttrans">
            <td>data.nft_trans_id</td>
            <td>data.name</td>
            <td>data.t_value</td>
            <td>data.t_date_time</td>
            <td>data.status</td>
          </tr>
           </tbody>
      </table>
      
</div> 
  