.midde_page{
    
    margin-top:100px;
    margin-left: 25px;


}

p,
h1 {
  background-size: 200%;
  background-image: linear-gradient(105deg, #D16BA5, #86A8E7, #5FFBF1, #86A8E7, #D16BA5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: text 5s linear infinite both;
  font-size: 20px;
}


