<div class="container-fluid ps-md-0">
    <div class="row g-0">

        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Welcome!</h3>
                    <p class="mb-4" style="font-weight: 200;">Please enter your email and create a password to signup</p>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                       </div>
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                       </div>
                        <label for="floatingPassword">Password</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Firstname" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"  id="inputFirstname4">
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">Firstname is required</div>
                       </div>
                        <label for="floatingInput">Firstname</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Lastname" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"  id="inputLastname4">
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Lastname is required</div>
                       </div>
                        <label for="floatingInput">Lastname</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingInput" placeholder="Phone Number" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"  id="inputPhoneNumber4">
                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                          <div *ngIf="f.phoneNumber.errors.pattern">Invalid Phone Number</div>
                       </div>
                        <label for="floatingInput">Phone Number</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingInput" placeholder="Cell-Phone Number" formControlName="cellphoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cellphoneNumber.errors }"  id="inputCellPhoneNumber4">
                        <div *ngIf="submitted && f.cellphoneNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.cellphoneNumber.errors.required">Cell-Phone Number is required</div>
                          <div *ngIf="f.cellphoneNumber.errors.pattern">Invalid Cell-Phone Number</div>
                       </div>
                        <label for="floatingInput">Cell-Phone Number</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Street Address" formControlName="streetAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.streetAddress.errors }"  id="inputStreetAddress4">
                        <div *ngIf="submitted && f.streetAddress.errors" class="invalid-feedback">
                          <div *ngIf="f.streetAddress.errors.required">Street Address is required</div>
                       </div>
                        <label for="floatingInput">Street Address</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="City" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"  id="inputCity4">
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                          <div *ngIf="f.city.errors.required">City is required</div>
                       </div>
                        <label for="floatingInput">City</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="State" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }"  id="inputState4">
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                          <div *ngIf="f.state.errors.required">State is required</div>
                       </div>
                        <label for="floatingInput">State</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="ZipCode" formControlName="zipCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"  id="inputZipCode4">
                        <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                          <div *ngIf="f.zipCode.errors.required">ZipCode is required</div>
                          <div *ngIf="f.zipCode.errors.pattern">Invalid ZipCode Number</div>
                       </div>
                        <label for="floatingInput">ZipCode Number</label>
                      </div>

    
                      <div *ngIf="this.wrongPassword == true" class="form-floating mb-3">
                        <p style="color: red;"> Wrong username or password</p>
                      </div>
      
                      <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign Up</button>
                      </div>
      
                    </form>
                  </div>
    
                </div>
              </div>
            </div>
          </div>

      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>

    </div>
  </div>