.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('./../../assets/img/sigunupmonkey.gif');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }