<div class="card-middle">
  <div class="container text-center">
    <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Fiat Currency</h5>
              <p class="card-text">This was the Amount in Dollars which is available!</p>
              <br>
             <p class="card-text">{{ethfiat.fiatAmt}}</p> 
              <a href="/addmore" class="btn btn-primary">Add More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ethereum Count</h5>
              <p class="card-text">The Ethereum Count which is available!</p>
              <br>
              <p class="card-text">{{ethfiat.ethCnt}}</p>
              <a href="#" class="btn btn-primary">Add More</a>
            </div>
          </div>
        </div>

    </div>
              <!-- table -->
              <br> <br>
              <table class="table table-image">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">NFT Address</th>
                    <th scope="col">NFT Name</th>
                    <th scope="col">NFT Value (ETH)</th>
                    <th scope="col">NFT Image</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nft of trade_nfts">
                    <td>{{nft.NFT_add}}</td>
                    <td>{{nft.name}}</td>
                    <td>{{nft.NFT_value}}</td>
                    <td><img class="w-25 h-25"  src={{nft.Image_URL}} alt=""></td>
                  </tr>
                   </tbody>
              </table>
              
<br><br>

<div>
  <a href="/trade" class="btn btn-success">Buy Nft</a>
  <a href="/sell-nfts" class="btn btn-danger">Sell Nft</a>
  <a href="/cancel" class="btn btn-primary">Cancel Payment</a>
</div>

<br>
  </div>
</div>

