.navbar{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    --light-bounding: #d2dcea;
    --action-txt: #3a588a;
    --light-bg: #f5f9fe;
    --light-bg-hover: #ecf4ff;
    --main-white: #fff;
    --main-white2: #fff;
    --main-grey: #7692bc;
    --light-grey: #b8c6dc;
    --main-black: #001028;
    --main-blue: #0099fa;
    --light-blue: #93c5fe;
    --main-pink: #f855f6;
    --main-red: #e65050;
    --main-orange: #f70;
    --main-green: #24c872;
    --dropdown-background: #fff;
    --modal-overlay: rgba(0,16,40,0.7);
    --disabled-text-color: #e7e7f1;
    --border-radius: 12px;
    --border: 1px solid #d2dcea;
    --admin-box-shadow: rgba(68,68,77,0.1) 0px 7px 29px 0px;
    --shadow-color: rgba(124,142,171,0.32);
    --menu-shadow: 0px 4px 16px var(--shadow-color);
    --tooltip-shadow: 0px 4px 16px var(--shadow-color);
    --item-hover-shadow: 0px 2px 20px var(--shadow-color);
    --swap-bar-shadow: 0px -8px 16px -4px rgba(0,32,79,0.25);
    --notice-height: 40px;
    --header-height: 72px;
    --main-container: 1224px;
    --transition-time: 0.2s;
    --home-container-padding-x: 86px;
    --home-container-padding-x-mobile: 20px;
    --home-carousel-arrow-color: #f5f9fe;
    --swaps-max-height: 800px;
    --swap-btn-color: var(--main-blue);
    --swap-btn-color-disabled: #93c5fe;
    --graph-color: linear-gradient(180deg,transparent 0%,var(--light-bg) 100%);
    --loading-svg-bg: #f5f9fe;
    --loading-svg-fg: #eaf0f8;
    --img-background: linear-gradient(180deg,rgba(245,249,254,0),#f5f9fe);
    --snackbar-bg: #272e37;
    color: var(--main-grey);
    letter-spacing: 0;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    flex: 0 0 auto;
    background: var(--main-white2);
    box-shadow: var(--menu-shadow);
    padding: 0 24px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    padding-inline: 16px;
    grid-gap: 16px;
    gap: 20px;
}