p{
    margin-top: 40px;
 
}
.card-middle{
 
    margin-top:100px;
    margin-left: 25px;
}
.card{
    margin-top: 25px;
 
}
 
.table-image {
    td, th {
      vertical-align: middle;
    }
  }
 
  .btn{
    margin-left: 25px;
 
  }
