<div class="midde_page">

    <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Commission Type</label>
          <select class="form-control" name="usdeth">
            <option>USD</option>
            <option>ETH</option>
        </select>
        <br>
          <div class="form-group">
            <label>Enter the Nft Address</label>
            <input type="text" name="amtcnt" class="form-control">
          </div>
        </div>
      </form>


      <button type="button" class="btn btn-primary" >Submit</button>

</div>
