<div class="midde_page">

    <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Commission Type</label>
          <select class="form-control" name="usdeth" [(ngModel)]="buynftform.usdeth">
            <option>Select</option>
            <option>USD</option>
            <option>ETH</option>
        </select>

        <br>
          <label for="exampleFormControlSelect1">Select Buy NFT</label>
          <select class="form-control" name="usdeth" [(ngModel)]="buynftform.address">
            <option>{{x}}</option>
        </select>

        </div>
      </form>


      <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>

</div>
